.pill{
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 2px 20px 0 20px;
    font-size: 14px;
    height: 32px;
    width: 75%;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13px;
    line-height: 32px;
    font-family: arial, helvetica, sans-serif;
}


.position-option{
    cursor: pointer;
    color: #777777;
    &:hover{
        color: blue;
    }
    
}
#selected{
    color:blue;
}