.card-container {
    display: flex;
    flex-direction: row;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  .enabled{
    .glyphicon-plus{
      padding: 10px;
      color:green;
      font-size:15px;
      &:hover{
        opacity: 90%;
        font-size: 18px;
        color: red;
  
      }
    }
  }
  
  .enabled:hover {
    transform: scale(1.05);
  }
  .position-and-team{
    font-size: 15px;
    padding: 10px;

  }
  .player-name{
    font-size: 15px;
    padding: 10px;
  }
  
  .disabled{
    opacity: 40%;
    .glyphicon-plus{
      padding: 10px;
      color:green;
      font-size:15px;}
  }
