.select-format{
    width:60%;
    margin-left:20%;
}

.formats{
    display:flex;
    justify-content:center;
    width:60%;
    margin-left:20%;
    font-size:35px;
}
.position{
    padding:5px 5px 5px 1px;
    font-size:25px;

}
.dropdown{
    padding:5px;
    font-size:25px;

}
.position-and-dropdown{
    
}