.homepage{
  .jumbotron{
    width:80%;
    margin-left: 10%;
  }
}
    .title{
      font-weight: bold;
      font-size: 4vw;
      width:50%;
      margin: auto;
      text-align: center;
    }
.sub-header{
  margin-top: 40px;
  font-weight: bold;
  font-size: 3vw;
  color:blue


}

  .custom-button{
    width:65%;
    margin: 1rem auto;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    font-size: 18px;
    font-family: Open Sans Condensed,sans-serif;
    letter-spacing: 2px;
    max-width: 250px;

  }



  .set-lineup-link{
      text-align: center;
      text-decoration: underline;
      font-family: Open Sans Condensed,sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 130%;
      cursor: pointer;
      margin: 1rem auto;
      margin-top: 1rem;
      margin-right: auto;
      margin-bottom: 1rem;
      
   }